@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "normalize";

// Variables
$black: #0A090C;
$gray: #323031;
$blue: #083D77;
$red: #E63946;
$green: #26C485;

// Base
body {
    min-height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: $black;
}

select,
input {
    color: inherit;
}

select {
    option {
        color: black;
    }
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
    &.hc {
        justify-content: center;
    }
    &.he {
        justify-content: flex-end;
    }
    &.sb {
        justify-content: space-between;
    }
    &.vc {
        align-items: center;
    }
    &.h-padd {
        .col {
            padding: 0 .5rem;
        }
    }
    .col {
        padding: .5rem;
    }
}

.col {
    &.col-25 {
        width: 25%;
    }
    &.col-33 {
        width: 33.33%;
    }
    &.col-5 {
        width: 50%;
    }
    &.col-full {
        width: 100%;
    }
}

a.link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: all .5s ease;
}

a.btn {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

button.btn {
    background-color: transparent;
}

.btn {
    cursor: pointer;
    padding: .75rem 1.5rem;
    transition: all .5s ease;
    border: 1px solid white;
    border-radius: .5rem;
    color: white;
    &.btn-blue {
        &:hover {
            border-color: $blue;
            background-color: $blue;
        }
    }
    &.btn-green {
        &:hover {
            border-color: $green;
            background-color: $green;
        }
    }
    &.btn-red {
        &:hover {
            border-color: $red;
            background-color: $red;
        }
    }
}

// Form styling
.form {
    .input {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom-color: lightgray;
        padding: 0 .75rem;
        height: 3rem;
        width: 100%;
        transition: all .25s ease;
        &.error {
            border-color: red;
        }
    }
    label {
        font-size: .8em;
        span {
            color: red;
        }
    }
    .error-message {
        display: none;
    }
    .message {
        display: none;
        text-align: center;
    }
}

// Header
#header {
    .logo-wrapper {
        padding: 0;
    }
    .menu {
        display: flex;
        margin: 0 -1rem;
        padding: 0;
        list-style: none;
        .menu-item {
            padding: 1.25rem 1rem;
            &:hover {

            }
        }
    }
}


.main {
    padding-top: 5rem;
    .form {
        padding: 1rem 3rem;
        max-width: 45rem;
        margin: 0 auto;
        .title {
            margin: 0;
        }
    }
    .header {
        .content {
            text-align: right;
        }
        .message {
            display: none;
        }
    }
    .product-list {
        .product {
            position: relative;
            padding: 1rem;
            border-radius: 1rem;
            background-color: rgba(black, .7);
            .checkbox-wrapper {
                position: absolute;
                z-index: 1;
                top: 1rem;
                right: 1rem;
                input {
                    cursor: pointer;
                    -webkit-appearance: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                    &:checked {
                        & + .checkbox {
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
                .checkbox {
                    width: 1.5rem;
                    height: 1.5rem;
                    padding: .25rem;
                    border-radius: 50%;
                    border: 1px solid white;
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        border-radius: 50%;
                        background-color: white;
                    }
                }
            }
        }
    }
    .pagination {
        .pages {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            .page {
                padding: 0 .5rem;
                button {
                    padding: .5rem 1rem;
                    border-radius: .25rem;
                    cursor: pointer;
                    color: white;
                    border: 1px solid transparent;
                    background-color: transparent;
                    transition: all .5s ease;
                    &:hover {
                        border-color: $green;
                        background-color: $green;
                    }
                }
                &.current {
                    p {
                        padding: .5rem 1rem;
                        border-radius: .25rem;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}

.bg-img {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    background-position: center;
    background-size: cover;
}
